body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    font-weight:1500;
   }
   .name{
       color: orange;
   }
   h3{
       font-size: 20px;
   }
   #more{
    display: none;
    
}
   button{
      color:blue; 
      border: none;
      outline: none;
   }
   .flexible-container{
    display: flex; 
      margin-bottom: 150px;
   }
   .half-width{
       width: 50%;
       padding-left: 5%;
   }
   .half-width img{
       width:88%;
       
   }
   .link-button{
       text-decoration: none;
       background-image: linear-gradient(rgb(31, 103, 161), blue);
       padding: 4px 40px 16px 40px;
       border-radius: 5px ;
       color: white;
       font-weight: 700 ;
       font-size: 20px;
       
   }
   .top-banner{
       background-image: url(images/top-banner.png);
       background-repeat: no-repeat;
       
   }
.be-strong{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:10px ;
   box-shadow: 10px 10px 40px grey ;  
   border-left:10px solid;
}
h2{
    font-size: 30px;
}
.experience{
    background-image: url(images/exp-bg.png) ;
    background-repeat: no-repeat;
    background-position: left;
    
    
}
#a{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}
#b{
    border-left: 7px solid;
    border-image: linear-gradient(green, yellow);
    border-image-slice: 1;
}
footer  {
    text-align: center;
}
